{% extends 'base.html' %}
{% load static %}


{% block body %}

      <!-- Hero image -->
      <div class="hero-image">

        <div class="hero-text">
            <h1>Sınırsız film, dizi ve çok daha fazlası.</h1>
            <h4>İstediğiniz yerde izleyin. İstediğiniz zaman iptal edin.</h4>
            <p>İzlemeye hazır mısınız? Üyelik oluşturmak veya üyeliğinze erişmek için e-posta adresinizi girin</p>

            <button class="btn btn-secondary btn-lg mt-3">Oynat</button>
            <button class="btn btn-secondary btn-lg mt-3">Daha Fazla Bilgi</button>
        </div>

      </div>

      <div class="container">
          <div class="row mt-5">
              
              
              
              <!-- <h3 class=" my-3 text-light">{{ fslug }}</h3>
                <h3 class=" my-3 text-light">{{ contents_list.first.category }}</h3> -->
                {% for i in contents_list  %}   
                
<!--                 A -->
                    </a>
                    <b>{{ forloop.counter0 }}</b>
                </div>
            {% endfor %}

          
        
      </div>

{% endblock body %}
