{% extends 'base.html' %}
{% load static %}


{% block body %}

    
    <!-- Hero image -->
    <div class="hero-image">
        
    <div class="hero-text">
        {% if request.user.usermy.packed.slug != "normal-paket" %}
        <h1>Sınırsız film, dizi ve çok daha fazlası.</h1>
        <h4>İstediğiniz yerde izleyin. İstediğiniz zaman iptal edin.</h4>
        <p>İzlemeye hazır mısınız? Üyelik oluşturmak veya üyeliğinze erişmek için e-posta adresinizi girin</p>
        <button class="btn btn-secondary btn-lg mt-3">Oynat</button>
        <button class="btn btn-secondary btn-lg mt-3">Daha Fazla Bilgi</button>
        
        {% else %}
        <a class="fs-3 text-white" href="##">Aboneliğinizi Yenileyin</a>
        {% endif %}
    </div>

    </div>
    {% if request.user.usermy.packed.slug != "normal-paket" %}
    <div class="container">
      <div class="row mt-5">
        <!-- <h3 class=" my-3 text-light">{{ i.category }}</h3> -->
        <h3 class="my-3 text-light">{{ contents_list.first.category }}</h3>
        <hr class="text-light">
          {% for i in contents_list  %}    
            <div class="col-md-2 col-4 mt-1">
                <a href="video.html">
                    <img src="{{ i.image.url }}" class="w-100" alt="">
                </a>
            </div>
        {% endfor %}
      </div>
  </div>     
    {% endif %}
      

        

{% endblock body %}